footer{
    position: relative;
    bottom: 0px;
    left: 0;
    background-color: black;
    height: 200px;
    width: 100%;
   
}
.fotter-logo{
    margin: 50px;
    display: inline-block;

}
ol{
    display: flex;
    color: #ccc;
    list-style: none;
    gap: 10px;
    margin-top: 60px;
    margin-left: 10px;
}
.help{
    display: none;
}
.fotter-div{
    display: flex;
}
.fotter-list{
    color: white;
    margin-top: 20px;
    margin-left: 190px;
   
}
.item {
    margin: 5px;
   
}
.fotter-list2{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.copyright{
    color: #ccc;
   margin-left: 530px;
   position: relative;
   bottom: 70px;
}