/* .main-div{
   display: flex;
   flex-wrap: wrap;
   display: grid;
    
} */
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    background-color: #1A1A1A;
    color: white;
    height: 50px;
    font-size: large;
    align-items: center;
     width: 69vw; 
    
    
}
li:hover{
    cursor: pointer;
    background-color: #04594D;
    transform: scale(1.1);
    
}

li:last-child{
    position: relative;
    margin-left: 170px;
    margin-right: 5px;
    
}
ul li{
    height: 100%;
    display: flex;
    align-items: center;
    flex: auto;
}



