.aside-img {
    width: 100%;
}
.aside-source{
    color: #595858;

}
.aside-news{
    border-bottom: 1px black solid;
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 5px;

}
.aside-news:last-child{
    border: none;
}

.aside-title{
    font-size: 18px;
}